$customGray: #a3a3a3;
$lGray: #f0f0f0;
$lBlue: #38bdff;
.classes_wrapper {
  background-color: #021f59;
  overflow: hidden;
  padding-top: 40px;
}
.intro {
  width: 630px;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  p {
    color: white;
    margin: 10px auto 0 auto;
    font-size: 15px;
    text-align: center;
    width: 510px;
  }
  h1 {
    margin: 0;
    color: $lBlue;
    font-size: 40px;
    br{
      display: none;
    }
  }
}
.classes {
  width: 75%;
  margin: auto;
  a {
    display: block;
    text-decoration: none;
    color: $customGray;
    font-size: 25px;
    padding-top: 20px;
  }
  > a {
    color: $lBlue;
    text-decoration: underline dashed;
    text-align: end;
    padding-bottom: 20px;
  }
  li {
    height: 65px;
    border-top: 5px solid $lGray;
    border-right: 1px solid $customGray;
    background: $lGray;
    text-align: center;
  }
  li.active {
    background-color: white;
    border-top: 5px solid $lBlue;
    a {
      color: $customBlue;
      font-weight: bold;
    }
  }
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
  }
  .classes_content {
    float: left;
    width: 100%;
    margin-bottom: 90px;

    > .tab-pane {
      display: none;
      padding: 40px;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      background-color: white;
      > * {
        margin: auto;
      }

      &.active {
        display: grid;
      }
    }

    > .active {
      display: block;
    }
    .name_mob{
      display: none;
    }
  }
  .items {
    display: grid;
    width: 520px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .classes_item_yes, .classes_item_no{
    img{
      float: left;
      padding-right: 20px;
    }
    p{
      margin: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .classes{
    width: 95%;
    .classes_content {
      .items{
        .classes_item_yes{
          margin-left: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .classes_wrapper{
    .intro{
      p{
        font-size: 20px;
      }
      h1{
        font-size: 50px;
        br{
          display: block;
        }
      }
    }
  }
  .classes{
    width: 90%;
    .tab-nav{
      display: none;
    }
    >a{
      text-align: center;
    }
    .classes_content {
      > .tab-pane {
        display: block;
        margin-top: 80px;
      }
      .items{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
        font-size: 20px;
        width: 50%;
        .classes_item_yes{
          margin-left: 0;
        }
      }
      .tab-pane{
        grid-template-columns: 1fr;
        text-align: center;
      }
      .name_mob{
        display: block;
        margin: 30px;
        font-size: 30px;
        color: $customBlue;
        font-weight: bold;
      }
    }
  }
}