.hero{
  width: 100%;
  height: 550px;
  background-image: url("../img/hero/StockSnap_ZXOBOKAJEQ.png");
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  text-align: center;
  .head{
    h1, h3{
      color: $customBlue;
      sup{
        font-size: 10px;
      }
    }
    button{
      width: 180px;
      height: 60px;
      font-size: 20px;
      font-weight: bold;
      background-color: $customBlue;
      color: white;
      border: 0;
    }
  }
  .arrows{
    *{
      &:hover{
        transform: scale(1.2)
      }
      &:active{
        opacity: 0.7;
      }
    }
  }
}