.inspiration_wrapper {
  background-color: white;
  color: $customBlue;
  .inspiration {
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: center;
    font-size: 25px;
    p {
      text-align: end;
    }
    a {
      text-align: start;
      color: $customBlue;
      text-decoration: underline dashed;
      font-weight: bold;
      padding: 10px 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .inspiration_wrapper{
    .inspiration{
      width: 100%;
    }
  }
}
@media screen and (max-width: 640px) {
  .inspiration_wrapper{
    .inspiration{
      text-align: center;
      p, a{
        text-align: center;
        margin-bottom: 5px;
      }
      padding-bottom: 20px;
    }
  }
}