$langColor: #132e64;
$backgroundColor: #fff;
$font: sans;
.nav {
  padding: 0 90px;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  color: $customBlue;
  background-color: $backgroundColor;
  >img{
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: $customBlue;
  }
  :nth-child(1) {
    margin: auto;
  }
  .menu {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    align-self: center;
    justify-self: start;
    a{
      padding: 0 5px;
    }
  }
  .top {
    display: grid;
    grid-template-columns: 5fr 1fr 10fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    .divider {
      color: #e5e7e9;
    }
    .lang {
      font-size: 1em;
      color: $langColor;
      display: grid;
      grid-template-columns: 1fr 3fr;
      text-align: start;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav{
    padding: 20px;
    grid-template-columns: 1fr 10fr 4fr;
    img{
      padding: 0;
    }
  }
}
@media screen and (max-width: 640px) {
  .nav{
    grid-template-columns: 1fr 3fr 4fr 3fr;
    img{
      grid-row: 1/span 2;
    }
    .menu{
      min-width: auto;
      font-weight: bold;
      grid-row: 2;
      grid-column: 3/ span 4;
      a{
        margin: 0 10px;
      }
    }
    .top{      
      grid-row: 1;
      grid-column: 4;
      a{
        color: gray;
      }
      .lang{
        span{
          display: none;
        }
      }
    }
  }
}