.offers_wrapper {
  background-color: $customBlue;
  > div {
    width: 75%;
    margin: auto;
    padding: 20px 0 60px 0;
  }
  h5 {
    br{
      display: none;
    }
    color: white;
    font-weight: normal;
    margin: 30px 0;
  }
  .offers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
    .offer_wrapper {
      transition: $transition;
      width: 100%;
      &:hover {
        transform: scale(1.2);
      }
      margin: auto;
      background-color: white;
      color: #021f59;
      .offer_image {
        width: 100%;
        overflow: hidden;
      }
      .text_wrapper {
        margin: 25px 30px;
        h3,
        p {
          margin: 0;
        }
        a {
          text-decoration: none;
          font-weight: bold;
          display: block;
          margin-top: 35px;
          color: $customBlue;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .offers{
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    .offers_wrapper{
      >div{
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .offers_wrapper{
    h5{
      br{
        display: block;
      }
      font-size: 50px;
      text-align: center;
    }
    .text_wrapper {
      h3,
      p, a {
        font-size: 40px;
        line-height: 40px;
      }
    }
  }  
}