.usp {
  background-color: white;
  text-align: center;
  overflow: hidden;
  span {
    font-size: 18px;
    line-height: 35px;
  }
  h5 {
    margin-top: 60px;
    line-height: 20px;
    color: #878787;
    font-weight: normal;
  }
  h1 {
    margin: 0 0 60px 0;
    font-size: 40px;
    color: $customBlue;
    br{
      display: none;
    }
  }
  .usp_elements {
    width: 75%;
    margin: auto;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px 125px;
    margin-bottom: 60px;
    div {
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      p {
        padding: 0 35px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .usp{
    .usp_elements{
      width: 90%;
      overflow: hidden;
      grid-gap: 10px;
    }
  }
}

@media screen and (max-width: 640px) {
  .usp{
    h5{
      font-size: 25px;
    }
    h1{
      font-size: 50px;
      br{
        display: block;
      }
    }
  }
}
