$customBlue: #002f9d;
$customDarkBlue: #001952;
$transition: all 0.2s ease-in-out;

body {
  background-color: lightslategray;
}
.wrapper {
  width: 1500px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
@import "./nav";
@import "./hero";
@import "./usp";
@import "./offers";
@import "./inspiration";
@import "./classes";
@import "./footer";

@media screen and (max-width: 800px) {
  .wrapper {
    width: 800px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    width: 640px;
  }
}
