$customBlue: #002f9d;

body{
  background-color: lightslategray;
}
.wrapper{
  width: 1500px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
@import "./nav";
@import "./hero";
@import "./usp";


@media screen and (max-width: 800px) {
  .wrapper{
    width: 800px;
  }
}